# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Database
db.sqlite3

# Media (user uploaded images)
media/

# Environment
.env

# Django logs
*.log

# IDE
.vscode/
.idea/
*.swp

# Windows
Thumbs.db
desktop.ini